<ul class="list-group bg-white">
  <li class="list-group-item  bg-white">
    <a href="#" class="text-uppercase font-weight-bold text-body">  categories <i class="fas fa-caret-down float-right"></i></a>
  </li>
  <li class="list-group-item bg-white">
    <a href="#" class="text-muted">  All Watches</a>
  </li>
  <li class="list-group-item bg-white">
    <a href="#" class="text-muted">  Man Watches</a>
  </li>
  <li class="list-group-item bg-white">
    <a href="#" class="text-muted">  Girls Watches</a>
  </li>
  <li class="list-group-item bg-white">
    <a href="#" class="text-muted">  Best Sale Watches</a>
  </li>
  <li class="list-group-item bg-white">
    <a href="#" class="text-muted">  Watches Brands</a>
  </li>
  <li class="list-group-item bg-white">
    <a href="#" class="text-muted">  More About +</a>
  </li>
</ul>