
<section class="footer">
<div class="container">
	<div class="row  p-4">
		<div class="col-sm-3 text-center">
			<h6 class="text-center text-white h4 text-weight-bold">Social Media</h6>
			<hr>

			<div class="lign-items-center ">
				<nav class="my-2 my-md-0 mr-md-3">
					<a href="#" class="p-2 text-white h5"><i class="fab fa-facebook-square"></i></a>
					<a href="#" class="p-2 text-white h5"><i class="fab fa-youtube"></i></a>
					<a href="#" class="p-2 text-white h5"><i class="fas fa-envelope"></i></a>
				</nav>
			</div>
			

		</div>
		<div class="col-sm-3 ">
			<h6 class="text-uppercase  text-white h6 text-weight-bold text-weight-bold"><i class="fas fa-book"></i> <u><strong>Information</strong></u></h6>
			<p class="text-uppercase text-white">How to do shopping</p>
			<p class="text-uppercase text-white">why choose Vanndee online shop</p>
			<p class="text-uppercase text-white">payment method</p>
			<p class="text-uppercase text-white">private policy</p>
			<p class="text-uppercase text-white">tearm and condition</p>
			
		</div>
		<div class="col-sm-3">
			<h6 class="text-uppercase  text-white h6 text-weight-bold text-weight-bold"><i class="fas fa-user"></i> <u><strong>My account</strong></u></h6>
			<p class="text-white">My Account</p>
			<p class="text-white">Wish List</p>
			<p class="text-white">Order History</p>
			<p class="text-white">Newsletter</p>
		</div>
		<div class="col-sm-3">
			<h6 class="text-uppercase  text-white h6 text-weight-bold text-weight-bold"><i class="fas fa-address-card"></i> <u><strong>Contact Us</strong></u></h6>
			<p class="text-white"> <i class="fas fa-map-marker-alt pr-3"></i> Siem Reap Town, Cambodai</p>
			<p class="text-white"><i class="fas fa-envelope pr-3"></i> traivanit@gmail.com</p>
			<p class="text-white"><i class="fas fa-phone-volume pr-3"></i> +855 70 24 32 12</p>
			<p class="text-white"> <i class="fas fa-paper-plane pr-3"></i>Krong Seim Reap</p>
			
		</div>
	</div>
</div>
<div id="footer-copyright">
	<div class="container">
		
	
	<div class="row pt-2 text-center">
		<div class="col-sm-6">
			<small>Power by Vanndee Online Shop &copy; 2019</small>
		</div>
		<div class="col-sm-6">
			<small>Payment Method Visa , Union Pay, Master Card, Wing , Truemoney</small>
		</div>

	</div>
	</div>
</div>
</section>