
<div class="row">
	<div class="col-sm-2">
		
	</div>
	<div class="col-sm-8 bg-white p-5 shadow-sm">
		<h1 class="text-center pb-3">Register Customer</h1>
		<%= render 'form', customer: @customer %>
		<%= link_to 'Back', customers_path %>

	</div>
	<div class="col-sm-2">
		
	</div>
</div>


